[submodule "webgl-flocking"]
	path = webgl-flocking
	url = https://git.sr.ht/~mcomstock/webgl-flocking
[submodule "brine-shrimp"]
	path = brine-shrimp
	url = https://git.sr.ht/~mcomstock/brine-shrimp
[submodule "webgl-particle-swarm"]
	path = webgl-particle-swarm
	url = https://github.com/mcomstock/webgl-particle-swarm
[submodule "cardiofit-royalsociety-2024"]
	path = cardiofit-royalsociety-2025
	url = git@github.com:mcomstock/cardiofit-royalsociety-2025.git
