body {
  font-family: "sans-serif";
}

#display-canvas {
  border: 1px solid black;
}

.input-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.output-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

#params-div {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 0.2em;
  column-gap: 1em;
}

#params-div input[type=text] {
  width: 7em;
}

#button-update {
  margin-top: 1em;
}
